<div class="main_header">
 <div class="left-header">
 <div class="chat-overview">
hogefuga</div>
</div>
<div class="right-header">
<div class="exit">
<a href="#">チャットを終了する</a>
</div>
</div>
</div>

<div class= "messages">
 <div class= "message">
   <div class="message-desu">
    <div class="message-name">Tom</div>
    <div class="message-day">2023/3/31(Web) 12:43:30</div>
   </div>
    <div class= "message-comments">
     <div class= "message-comment">おはよう</div>
    </div>
 </div>

 <div class= "message">
  <div class="message-desu">
    <div class= "message-name">Sim</div>
    <div class= "message-day">2023/3/31(Web) 12:43:30</div>
  </div>
   <div class="messege-comments">
    <div class= "message-comment">こんばんは</div>
   </div>
 </div>
 
</div>

<%= form_with model: [@room, @message], ciass: 'form', local: true do |f| %>
 <div class="form-bar">
  <%= f.text_field :content, class: "form-message", placeholder= "type a message" %>
  <label class= "form-image">
   <span class= "image-file">画像</span>
   <%= f.file_field :image, class: "hidden">
   </label>
  </div>
 <%= f.submit '送信', class= 'form-submit' %>
 
<% end %>



